<p id="notice"><%= notice %></p>

<p>
  <b>Profit margin:</b>
  <%= @family_group.profit_margin %>
</p>


<%= link_to 'Edit', edit_family_group_path(@family_group) %> |
<%= link_to 'Back', family_groups_path %>
