<legend>Buscar un cliente</legend>

<div class="form-search">
  <div class="input-append">
    <input id="txt-search" type="text" placeholder="Indique el nombre del cliente" class="span4 search-query">
    <button id="btn-search" class="btn"><i class="icon-search"></i></button>
  </div>
</div>

<ul id="clients">

</ul>


<%= link_to 'New Client', new_client_path, :class => "btn btn-primary" %>

<script language="Javascript"> 
  $(document).ready(function(){
    $("#btn-search").click(function(){
      SearchClients();
    });
    

    $("#txt-search").autocomplete({
      source: SearchClients
    });

  });

  function SearchClients()
  {
    var client = $("#txt-search").val();
      if(client)
      {
        $.get('clients/list/'+client, function(data) {
          $('#clients').html(data);
        });
      }
  }

</script>
