<%= link_to 'Volver', products_path %>
<legend>Producto: <%= @color.product.name %></legend>
<legend>Variedades</legend>
<ul>
	<% @color.varieties.each do |variety| %>
	  <li>
	    <%= link_to variety.name, "/varieties/"+variety.id.to_s, :class => "" %>
	  </li>
	  <hr/>
	<% end %>
</ul>
<%= link_to 'Nueva variedad', "/varieties/new/" + @color.id.to_s, :class=> 'btn btn-primary' %>