/*
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

#navegador-malo{
	color: red;
	display: none;
}
#navegador-malo{
	display: block\9; /* IE8 y anteriores */
	*display: block; /* IE7 y anteriores */
	_display: block; /* IE6 y anteriores */
}
:root #navegador-malo { 
	display:none \0/IE9; }  /* IE9 + IE10pp4 */
