<legend>Buscar un producto</legend>
<%= link_to 'Añadir nueva familia', new_family_path, :class => "btn btn-primary" %>
<div class="search form-search">
  
  <div class="input">
    <input id="txt-search" type="text" placeholder="Indique el nombre del producto" class="span4 search-query">
  </div>
  <ul id="products" class="unstyled"></ul>
</div>




<script language="Javascript"> 
  $(document).ready(function(){
    $("#btn-search").click(function(){
      SearchProducts();
    });
    

    $("#txt-search").autocomplete({
      source: SearchProducts
    });

  });

  function SearchProducts()
  {
    var product = $("#txt-search").val();
      if(product)
      {
        $.get('products/list/'+product, function(data) {
          $('#products').html(data);
        });
      }
  }

</script>